/* create a white rounded card with relative positioning */
.Card {
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 40px;
  margin: 20px;
  background-color: #fff;
  position: relative;
  color: #333;
}
